/* Alternative Admin menu CSS by Paul Huntsberger paul@bluetent.com */
body.admin-menu {
  margin-top:40px !important;
}

/* Admin menu */
#admin-menu li {
  font-size: 10px;
  background-position: 8px 50% !important;
  background-repeat: no-repeat !important;
  padding-left:27px;
}

#admin-menu li.admin-menu-icon a {
}

#admin-menu li.admin-menu-action a {
}

/* all lists */
#admin-menu ul a {
  height:20px;
  padding:10px 13px 2px 8px;
}

#admin-menu ul ul a {
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* all list items */
#admin-menu li li {
  filter:Alpha(opacity=100);
  opacity: 1;
}

#admin-menu li li a {
}

/* second-level lists */
#admin-menu li ul {
}

#admin-menu > ul > li > ul {
}

/* third-and-above-level lists */
#admin-menu li li.expandable ul {
  position: absolute;
  top: 0;
  margin-top: 0;
}

/* first level hovering */
#admin-menu > ul > li:hover {
  
}

#admin-menu li.admin-menu-icon a {
  padding:8px 8px 4px;
}

/* second-and-more-level hovering */
#admin-menu li li.expandable {
  position: relative;
}

/**
 * Icons
 */

#admin-menu li.admin-menu-icon {
  padding-left:0px;
}

#admin-menu li.list {
  background-image: url(../images/edit-find-replace.png);
}

#admin-menu li.import {
  background-image: url(../images/document-new.png);
}

#admin-menu li.export {
  background-image: url(../images/document-save.png);
}

#admin-menu li.settings {
  background-image: url(../images/emblem-system.png);
}

#admin-menu li.add,
#admin-menu li.create-content li {
  background-image: url(../images/list-add.png);
}

#admin-menu li.comments {
  top:0px !important;
  border-bottom:none;
}

#admin-menu li.content-management {
  background-image: url(../images/accessories-text-editor.png);
}

#admin-menu li.site-building {
  background-image: url(../images/applications-development.png);
}

#admin-menu li.site-configuration {
  background-image: url(../images/preferences-system.png);
}

#admin-menu li.user-management {
  background-image: url(../images/system-users.png);
}

#admin-menu li.reports {
  background: url(../images/applications-internet.png);
}

#admin-menu li.advanced-help,
#admin-menu li.help {
  background-image: url(../images/help-browser.png);
  border: 0px;
}

#admin-menu li.rules {
  background-image: url(../images/preferences-system-windows.png);
}

#admin-menu li.generate-items {
  background-image: url(../images/applications-other.png);
}

#admin-menu li.admin-menu-logout {
  background-image: url(../images/system-log-out.png);
}

#admin-menu li.status-report {
  background-image: url(../images/software-update-available.png);
}

#admin-menu li.reports li.recent-log-entries {
  background-image: url(../images/system-search.png);
}