images/accessories-calculator.png
images/accessories-character-map.png
images/accessories-text-editor.png
images/address-book-new.png
images/application-certificate.png
images/application-x-executable.png
images/applications-accessories.png
images/applications-development.png
images/applications-games.png
images/applications-graphics.png
images/applications-internet.png
images/applications-multimedia.png
images/applications-office.png
images/applications-other.png
images/applications-system.png
images/appointment-new.png
images/audio-card.png
images/audio-input-microphone.png
images/audio-volume-high.png
images/audio-volume-low.png
images/audio-volume-medium.png
images/audio-volume-muted.png
images/audio-x-generic.png
images/battery-caution.png
images/battery.png
images/bookmark-new.png
images/camera-photo.png
images/camera-video.png
images/computer.png
images/contact-new.png
images/dialog-error.png
images/dialog-information.png
images/dialog-warning.png
images/document-new.png
images/document-open.png
images/document-print-preview.png
images/document-print.png
images/document-properties.png
images/document-save-as.png
images/document-save.png
images/drive-harddisk.png
images/drive-optical.png
images/drive-removable-media.png
images/edit-clear.png
images/edit-copy.png
images/edit-cut.png
images/edit-delete.png
images/edit-find-replace.png
images/edit-find.png
images/edit-paste.png
images/edit-redo.png
images/edit-select-all.png
images/edit-undo.png
images/emblem-favorite.png
images/emblem-important.png
images/emblem-photos.png
images/emblem-readonly.png
images/emblem-symbolic-link.png
images/emblem-system.png
images/emblem-unreadable.png
images/face-angel.png
images/face-crying.png
images/face-devilish.png
images/face-glasses.png
images/face-grin.png
images/face-kiss.png
images/face-monkey.png
images/face-plain.png
images/face-sad.png
images/face-smile-big.png
images/face-smile.png
images/face-surprise.png
images/face-wink.png
images/folder-drag-accept.png
images/folder-new.png
images/folder-open.png
images/folder-remote.png
images/folder-saved-search.png
images/folder-visiting.png
images/folder.png
images/font-x-generic.png
images/format-indent-less.png
images/format-indent-more.png
images/format-justify-center.png
images/format-justify-fill.png
images/format-justify-left.png
images/format-justify-right.png
images/format-text-bold.png
images/format-text-italic.png
images/format-text-strikethrough.png
images/format-text-underline.png
images/go-bottom.png
images/go-down.png
images/go-first.png
images/go-home.png
images/go-jump.png
images/go-last.png
images/go-next.png
images/go-previous.png
images/go-top.png
images/go-up.png
images/help-browser.png
images/image-loading.png
images/image-missing.png
images/image-x-generic.png
images/input-gaming.png
images/input-keyboard.png
images/input-mouse.png
images/internet-group-chat.png
images/internet-mail.png
images/internet-news-reader.png
images/internet-web-browser.png
images/list-add.png
images/list-remove.png
images/mail-attachment.png
images/mail-forward.png
images/mail-mark-junk.png
images/mail-mark-not-junk.png
images/mail-message-new.png
images/mail-reply-all.png
images/mail-reply-sender.png
images/mail-send-receive.png
images/media-eject.png
images/media-flash.png
images/media-floppy.png
images/media-optical.png
images/media-playback-pause.png
images/media-playback-start.png
images/media-playback-stop.png
images/media-record.png
images/media-seek-backward.png
images/media-seek-forward.png
images/media-skip-backward.png
images/media-skip-forward.png
images/multimedia-player.png
images/network-error.png
images/network-idle.png
images/network-offline.png
images/network-receive.png
images/network-server.png
images/network-transmit-receive.png
images/network-transmit.png
images/network-wired.png
images/network-wireless-encrypted.png
images/network-wireless.png
images/network-workgroup.png
images/office-calendar.png
images/package-x-generic.png
images/preferences-desktop-accessibility.png
images/preferences-desktop-assistive-technology.png
images/preferences-desktop-font.png
images/preferences-desktop-keyboard-shortcuts.png
images/preferences-desktop-locale.png
images/preferences-desktop-multimedia.png
images/preferences-desktop-peripherals.png
images/preferences-desktop-remote-desktop.png
images/preferences-desktop-screensaver.png
images/preferences-desktop-theme.png
images/preferences-desktop-wallpaper.png
images/preferences-desktop.png
images/preferences-system-network-proxy.png
images/preferences-system-session.png
images/preferences-system-windows.png
images/preferences-system.png
images/printer-error.png
images/printer.png
images/process-stop.png
images/process-working.png
images/software-update-available.png
images/software-update-urgent.png
images/start-here.png
images/system-file-manager.png
images/system-installer.png
images/system-lock-screen.png
images/system-log-out.png
images/system-search.png
images/system-shutdown.png
images/system-software-update.png
images/system-users.png
images/tab-new.png
images/text-html.png
images/text-x-generic-template.png
images/text-x-generic.png
images/text-x-script.png
images/user-desktop.png
images/user-home.png
images/user-trash-full.png
images/user-trash.png
images/utilities-system-monitor.png
images/utilities-terminal.png
images/video-display.png
images/video-x-generic.png
images/view-fullscreen.png
images/view-refresh.png
images/weather-clear-night.png
images/weather-clear.png
images/weather-few-clouds-night.png
images/weather-few-clouds.png
images/weather-overcast.png
images/weather-severe-alert.png
images/weather-showers-scattered.png
images/weather-showers.png
images/weather-snow.png
images/weather-storm.png
images/window-new.png
images/x-office-address-book.png
images/x-office-calendar.png
images/x-office-document-template.png
images/x-office-document.png
images/x-office-drawing-template.png
images/x-office-drawing.png
images/x-office-presentation-template.png
images/x-office-presentation.png
images/x-office-spreadsheet-template.png
images/x-office-spreadsheet.png